extends ./index
block content
    h1 Join the game and have all the fun
    div#gameblock
        h#game= game.name
        p= 'date: ' + game.date
        p= 'players required: ' + game.players
        p= 'current number of players: ' + game.joining                
        p= 'alcoholpolicy: ' + game.alcohol
        p= 'additional info: ' + game.info
        p= 'approximate distance from you: ' + Math.round( 110 * Math.sqrt( Math.pow( (game.latitude - user.latitude), 2) + Math.pow( (game.longitude - user.longitude), 2 ) ) ) + 'km'
    
    form( action='singlegame' method='post' )
        input( name='gameId', value=game.id hidden )
        input( type ='submit' value='JOIN THIS GAME')