extends ./index
block content
    h1 Here is a list of all your games
    .container
        each game in games
            div#gameblock
                    h#game= game.name
                    p= 'date: ' + game.date
                    p= 'players required: ' + game.players
                    p= 'current players: '
                    p= game.attends
                        each attend in game.attends
                            li= attend.user.username 
                    p= 'alcoholpolicy: ' + game.alcohol
                    p= 'additional info: ' + game.info